<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"40px","bottom":"40px"}}}} -->
  <div class="wp-block-group">
    <!-- wp:heading {"textAlign":"center","level":1} -->
    <h1 class="has-text-align-center">Page Not Found (404)</h1>
    <!-- /wp:heading -->

    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Sorry, the page you’re looking for doesn’t exist. Try searching below:</p>
    <!-- /wp:paragraph -->

    <!-- wp:search {"label":"Search site","showLabel":false} /-->
  </div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
